{% extends 'Base.html' %}
{% block content %}
<div class='sm-mx-5'>
    <div class="container mt-5 align-item-end d-sm-flex flex-sm-row-reverse">
        <div class="col-sm-4 order-sm-1 mb-4">
            <div class="card border-gray-dark">
              <div class="card-body">
                <a href="{% url 'blog-create' %}" class="card-title" style="text-decoration:none;">Create Post</a>
              </div>
            </div>
        </div>
        <div class="col-sm-8 order-sm-2">
            {% for post in posts %}
                <div class="card mb-4">
                    <div class="card-body">
                    <h3 class="card-title"><a href="{% url 'blog-detail' post.id %}" style="text-decoration:none;"> {{ post.title }}</a></h3>
                    <p class="card-text">By <a href="{% url 'blog-user-posts' post.author.username %}" class="btn btn-default p-0">{{ post.author }} </a> on {{ post.date_posted | date:"F d, Y"}}</By>
                    <p class="card-text post-content">{{ post.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info" href="?page=1">First</a>
                <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">Prev</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-outline-info" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        </div>
    {% endif %}
</div>
{% endblock content %}
